@use '../../vars';

.board-detail {
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;

  .body {
    height: 100%;

    .toolbar-placeholder {
      height: 40px;
      width: 100%;
    }
    .toolbar {
      position: fixed;
      display: flex;
      justify-content: space-between;
      padding: 0 4px;
      flex-wrap: wrap;
      background-color: vars.$color-filter-2;
      width: 100%;

      .group-left {
        display: flex;
        flex-wrap: wrap;

        .board-title {
          position: relative;

          h1 {
            font-size: 18px;
            font-weight: 700;
            line-height: 32px;
            padding: 0 12px;
            color: vars.$color-2;
            margin-top: 8px;
            max-width: 210px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          input {
            font-size: 18px;
            line-height: 32px;
            position: absolute;
            top: 0;
            left: 0;
            width: calc(100% - 24px);
            padding: 0 12px;
            margin-top: 8px;
            outline: 0;
            border: 0;
          }
        }
        .starred {
          color: gold;
        }
      }

      .group-right {
        display: flex;
      }

      button {
        border: 0;
        outline: 0;
        height: 32px;
        background-color: vars.$bg-color-2;
        margin: 8px 4px 0 4px;
        padding: 0 12px;
        border-radius: 3px;
        color: vars.$color-2;
        cursor: pointer;

        span {
          padding-left: 12px;
        }

        &.user {
          border-radius: 50%;
          width: 32px;
          padding: 0;
          background-color: vars.$bg-color-3;
          color: vars.$color-1;
        }

        &:hover {
          background-color: vars.$bg-color-2-hi;
        }
      }

      .button-divider {
        border-left: solid 1px;
        margin: 16px 2px 8px 2px;
        color: vars.$color-2;
      }
    }

    .board-canvas {
      display: flex;
      align-items: flex-start;
      padding: 8px;
      background: linear-gradient(180deg,rgba(0,0,0,.24) 0,rgba(0,0,0,.24) 48px,transparent 80px,transparent);
      height: 100%;
      overflow: auto;
      outline: 0;

      >button {
        height: 40px;
        background-color: vars.$bg-color-2;
        color: vars.$color-2;
        border-radius: 3px;
        border: 0;
        outline: 0;
        padding: 0 20px;
        text-align: left;
        cursor: pointer;
        margin-top: 4px;
        width: 272px;
        min-width: 272px;
        margin: 0 4px;

        &:hover {
          background-color: vars.$bg-color-2-hi;
        }
      }

      .list-container {
        border-radius: 3px;
        padding: 8px;
        margin-top: 4px;
        background: vars.$bg-color-5;
        width: 272px;
        min-width: 272px;
        margin: 0 4px;

        input {
          width: 100%;
          line-height: 20px;
          padding: 8px 12px;
          box-sizing: border-box;
          margin-bottom: 10px;
        }

        button {
          background-color: vars.$bg-color-4;
          height: 40px;
          color: vars.$color-2;
          border-radius: 3px;
          border: 0;
          outline: 0;
          padding: 0 20px;
          text-align: left;
          cursor: pointer;
          margin-top: 4px;
          position: relative;

          &:hover {
            &::before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: vars.$bg-color-2-hi;
            }
          }

          &.cancel {
            background: transparent;
            color: vars.$color-1;
            font-size: 30px;
          }
        }
        
        .list-title {
          padding: 8px;
          display: flex;

          h2 {
            flex: 1;
            font-weight: 600;
          }

          input {
            font-weight: 600;
            padding: 0;
          }

          i {
            padding: 0 8px;
            display: grid;
            justify-items: center;
            align-items: center;
          }

        }
        
        .card-container {
          .space-filler {
            height: 8px;
          }
          .card {
            background-color: #fff;
            border-radius: 3px;
            border-bottom-color: vars.$color-border-1;
            box-shadow: 0 1px vars.$color-border-2;
            // margin-bottom: 8px;
            color: vars.$color-1;
            padding: 8px;
            cursor: pointer;
            display: flex;
            align-items: center;

            &:hover {
              background-color: vars.$bg-color-button-1;
              border-bottom-color: vars.$color-border-2;

              i {
                display: grid;
                justify-items: center;
                align-items: center;
                background-color: vars.$bg-color-2;

                &:hover {
                  background-color: vars.$color-filter-3;
                }
              }
            }

            span {
              flex: 1;
            }

            i {
              width: 20px;
              height: 20px;
              border-radius: 3px;
              display: none;
            }
          }

          .place-holder {
            height: 20px;
            background-color: vars.$bg-color-2;
          }
        }

        .list-action {
          color: vars.$color-3;
          padding: 8px;
          margin-top: 8px;
          cursor: pointer;

          &:hover {
            background-color: vars.$color-filter-3;
          }
        }

        .new-card {
          margin-top: 8px;

          textarea {
            outline: 0;
            border: 0;
            width: 100%;
            box-sizing: border-box;
            margin-bottom: 0;
            padding: 8px;
          }
        }
      }
    }
  }
}