$bg-color-1: #026aa7;
$bg-color-2: hsla(0,0%,100%,.3);
$bg-color-2-hi: hsla(0,0%,100%,.2);
$bg-color-3: #dfe1e6;
$bg-color-4: #5aac44;
$bg-color-5: #ebecf0;
$bg-color-button-1: #f4f5f7;
$color-1: #172b4d;
$color-2: #fff;
$color-3: #5e6c84;
$color-button-1: #a5adba;
$color-filter-1: rgba(0,0,0,.32);
$color-filter-2: rgba(0,0,0,.24);
$color-filter-3: rgba(9,30,66,.08);